@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: 255 255 255;
  --foreground: 37 37 37;
  --card: 255 255 255;
  --card-foreground: 37 37 37;
  --popover: 255 255 255;
  --popover-foreground: 37 37 37;
  --primary: 37 37 37;
  --primary-foreground: 255 255 255;
  --secondary: 245 245 245;
  --secondary-foreground: 37 37 37;
  --muted: 245 245 245;
  --muted-foreground: 107 114 128;
  --accent: 59 130 246;
  --accent-foreground: 255 255 255;
  --destructive: 239 68 68;
  --border: 229 231 235;
  --input: 229 231 235;
  --ring: 59 130 246;
}

.dark {
  --background: 37 37 37;
  --foreground: 255 255 255;
  --card: 52 52 52;
  --card-foreground: 255 255 255;
  --popover: 52 52 52;
  --popover-foreground: 255 255 255;
  --primary: 235 235 235;
  --primary-foreground: 52 52 52;
  --secondary: 68 68 68;
  --secondary-foreground: 255 255 255;
  --muted: 68 68 68;
  --muted-foreground: 180 180 180;
  --accent: 59 130 246;
  --accent-foreground: 255 255 255;
  --destructive: 239 68 68;
  --border: 68 68 68;
  --input: 68 68 68;
  --ring: 59 130 246;
}

@layer base {
  * {
    border-color: rgb(var(--border));
  }
  
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
}
